<nav class="navbar navbar-expand-md navbar-light bg-light d-lg-none">
  {% include search.html %}
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#mobileNav"
    aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mobileNav">
    <ul class="nav flex-column">
      {% assign sorted_articles = (site.articles | sort: 'article') %}
      {% for article in sorted_articles %}
      {% if article.article == page.article %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ article.url }}">{{ article.article }}. {{ article.title }}</a>
      </li>
      <ul class="active">
        {% for section in site.sections %}
        {% if section.article == page.article %}
        {% if section.section == page.section %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ section.url }}">{{ article.article }}.{{ section.section }}
            {{ section.title }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-dark-grey" href="{{ section.url }}">{{ article.article }}.{{ section.section }}
            {{ section.title }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
      {% else %}
      <li class="nav-item">
        <a class="nav-link text-dark-grey" href="{{ article.url }}">{{ article.article }}. {{ article.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
