<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

<form novalidate="novalidate" onsubmit="return false;" class="searchbox">
    <div role="search" class="searchbox__wrapper">
        <input id="search-input" type="search" name="search" placeholder="Search for a movie" autocomplete="off" required="required" class="form-control">
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
    var client = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_only_api_key }}')
    var index = client.initIndex('{{ site.algolia.index_name }}');
    var myAutocomplete = autocomplete('#search-input', {
        hint: false
    }, [{
        source: autocomplete.sources.hits(index, {
            hitsPerPage: 5
        }),
        displayKey: 'title',
        templates: {
            suggestion: function(suggestion) {
                var result = "<a href=" + suggestion.url + "><span>" + suggestion._highlightResult.title.value + "</span>"
                return result;
            }
        }
    }]).on('autocomplete:selected', function(event, suggestion, dataset) {
        console.log(suggestion, dataset);
    });

    document.querySelector(".searchbox [type='reset']").addEventListener("click", function() {
        document.querySelector(".aa-input").focus();
        this.classList.add("hide");
        myAutocomplete.autocomplete.setVal("");
    });

    document.querySelector("#search-input").addEventListener("keyup", function() {
        var searchbox = document.querySelector(".aa-input");
        var reset = document.querySelector(".searchbox [type='reset']");
        if (searchbox.value.length === 0) {
            reset.classList.add("hide");
        } else {
            reset.classList.remove('hide');
        }
    });

</script>
