<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.1/themes/reset-min.css"
  integrity="sha256-JQ2nnTmybhOWSjfV3sa8mG0ZVhTCcORER4cyXc5HL10=" crossorigin="anonymous">

<div class="px-3">
  <input class="form-control" id="search-input" type="search" placeholder='Search...' />
</div>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

<script>
  var client = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_only_api_key }}');
  var index = client.initIndex('{{ site.algolia.index_name }}');

  const hitTemplate = function (hit) {

    function getOrigin() {
      var location = window.location
      var origin = location.origin

      if (!origin) {
        var port = location.port ? ':' + location.port : ''

        origin = location.protocol + '//' + location.hostname + port
      }

      return origin
    }

    var currentUrl = getOrigin()
    var liveUrl = 'https://ihiutch.github.io'

    var url = '';

    if (currentUrl.indexOf(liveUrl) !== -1) {
      url = `/{{ site.baseurl }}${hit.url}#${hit.anchor}`;
    } else {
      url = `${hit.url}#${hit.anchor}`;
    }

    const title = hit._highlightResult.title.value;
    const content = hit._snippetResult.content.value

    let breadcrumbs = '';
    if (hit._highlightResult.hierarchy) {
      var array = [];
      for (const [key, value] of Object.entries(hit._highlightResult.hierarchy)) {
        if (value) {
          array.push(value.value);
        }
      }
      breadcrumbs = array.map(match => {
        return `<span class="post-breadcrumb">${match}</span>`
      }).join(' / ')
    }

    let article = '';
    if (hit.article) {
      article = hit.article + '.';
    }

    let section = '';
    if (hit.section) {
      section = hit.section + ' ';
    }

    return `
            <a class="post-link" href="${url}">
              <h6>${article}${section}${title}</h6>
              {{#breadcrumbs}}<div class="post-breadcrumbs text-muted">${breadcrumbs}</div>{{/breadcrumbs}}
              <div class="aa-content"><span class="text-muted">${content}</span></div>
            </a>
          `;
  }

  autocomplete('#search-input', {
    debug: true,
    searchParameters: {
      attributesToSnippet: ['content']
    }
  }, [{
    source: autocomplete.sources.hits(index, {
      hitsPerPage: 4
    }),
    displayKey: 'title',
    templates: {
      //            header: '<div class="aa-suggestions-category">Results</div>',
      suggestion: hitTemplate,
      footer: '<div class="aa-suggestions-footer px-2 py-1"><img src="../../assets/img/search-by-algolia-light-background.svg"></div>',
      
      empty: '<div class="aa-empty">No matching results</div>',
    }
  }]);

</script>
