body {
  position: relative;
  padding-top: $navbar-height;
}

.navbar img {
  height: 40px;
}

.toc {
  font-size: 0.875rem;
}

.toc-list {
  list-style: none;
  padding: 0;
  display: block;
}

.toc-entry {
  display: block;

  a {
    display: block;
    padding: 0.125rem 1.5rem;
    color: #77757a;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

ol {
  list-style: upper-alpha;
  padding-left: 1.25rem;
  li {
    margin-bottom: 1rem;
  }
  ol {
    margin-top: 0.5rem;
    list-style: decimal;
    margin-bottom: 1.5rem;
    ol {
      list-style: lower-alpha;
      ol {
        list-style: lower-roman;
      }
    }
  }
}

table {
  margin-bottom: 1rem;
}

.page-content > h2:not(:first-child) {
  margin-top: 3rem;
}

.page-content > h2[id]::before,
.page-content > h3[id]::before,
.page-content > h4[id]::before,
.page-content > h5[id]::before,
.page-content > h6[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}
