/*
 * Sidebar
 */

.sidebar-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: $navbar-height 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100; /* Behind the navbar */
  padding: $navbar-height 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - #{$navbar-height});
  padding-top: 1rem 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar {
  ul {
    list-style: none;
    li {
      font-weight: 400;
      width: 100%;
      &.active:not(:first-child) {
        margin-top: 1rem;
      }
      a {
        // text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: nowrap;
        &:hover {
          background-color: lighten($dark-grey, 60);
        }
      }
    }
    &.active {
      margin-bottom: 1.5rem;
    }
    & ul {
      padding-left: 0;
      font-size: 90%;
      width: 100%;
      li {
        margin: 0;
        font-weight: 400;
        &.active {
          margin-top: 0rem;
        }
      }
    }
  }
}

.sidebar .nav-link {
  padding: 0.25rem 1.5rem;
}

.sidebar .nav-item {
  &.active {
    & > a {
      color: #000;
      font-weight: 500;
    }
  }
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
